<template>
  <div id="app">
    <div class="app-area" :style="`width: ${state.appWidth}px; height: ${state.appHeight}px;`">
      <div
          v-for="block in blocks"
          :key="block.id"
          :ref="setItemRef"
          class="block block__hidden"
          :style="{
            top: block.y + `px`,
            left: block.x + 'px',
            width: block.width + 'px',
            height: block.height + 'px',
            transform: `rotate(${Math.floor(Math.random() * 360)}deg)`,
            backgroundColor: block.color
          }"
      />
    </div>
  </div>
</template>

<script setup>
import {
  onMounted,
  reactive,
  ref
} from 'vue'

const colors = [
    'violet',
    'navajowhite',
    'sienna',
    'darkcyan'
]

const state = reactive({
  minBlockWidth: 10,
  maxBlockWidth: 90,
  minBlockHeight: 90,
  maxBlockHeight: 5,
  maxBlocks: 1000,
  appWidth: 3000,
  appHeight: 3000,
})

const arr = [ ...Array(state.maxBlocks).keys() ].map( i => i+1)
const blocks = ref(arr.map(u => {
  return {
    id: u,
    name: `name-${u}`,
    x: Math.floor(Math.random() * state.appWidth),
    y: Math.floor(Math.random() * state.appHeight),
    width: Math.floor(Math.random() * state.maxBlockWidth) + state.minBlockWidth,
    height: Math.floor(Math.random() * state.maxBlockHeight) + state.minBlockHeight,
    color: colors[Math.floor(Math.random() * colors.length)]
  }
}))

let itemRefs = []
const setItemRef = el => {
  if (el) {
    itemRefs.push(el)
  }
}

onMounted(() => {
  itemRefs.forEach((item) => {
    var observer = new IntersectionObserver(function(entries) {
      if (entries[0].isIntersecting === true) {
        item.classList.remove('block__hidden')
      } else {
        item.classList.add('block__hidden')
      }
    }, { threshold: [0] });

    observer.observe(item);

  })
})

</script>

<style>
.app-area {
  position: relative;
  border: 1px dashed;
}

.block {
  position: absolute;
  border: 1px dashed black;
  opacity: 0.74;
  transition: width .3s ease-in, height .3s ease-in;
}

.block__hidden {
  width: 0 !important;
  height: 0 !important;
  border: none !important;
}
</style>
